#header-nav-btn-buy{
    background: url('./images/icon-buy.svg') no-repeat center center/cover;

    transition: transform .7s ease;
}

#header-nav-btn-search{
    background: url('./images/icon-search.svg') no-repeat center center/cover;
    
    transition: transform .7s ease;
}

#header-nav-btn-buy:hover, #header-nav-btn-search:hover{
    transform: scale(1.2);

    transition: transform .7s ease;
}

.header{

    width: 100%;
    height: 100vh;

    background: url('./images/background.jpg') no-repeat center center/cover;

    &__nav__logo{

        text-transform: uppercase;

        font-family: 'Post No Bills Jaffna SemiBold', sans-serif;

        user-select: none;

        color: #ffffff;
    }

    &__logo{

        width: 320px;
        height: 320px;

        border: 4px solid #ffffff;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        user-select: none;

        &__title{

            position: relative;

            font-size: 64px;
            font-family: 'Post No Bills Jaffna SemiBold', sans-serif;

            text-transform: uppercase;

            color: #ffffff;
        }

        &__title::after{
            content: '';

            position: absolute;
            left: 0;
            top: 100%;

            background-color: #ffffff;
            height: 2px;
            width: 100%;
        }

        &__label{

            margin-top: 10px;
            
            font-size: 22px;

            color: #ffffff;

            text-transform: uppercase;
        }
    }

    &-container{
        display: flex;
        align-items: center;
    }

    &-container--stretch{
        justify-content: space-between;
    }

    &-container--center{
        justify-content: center;
    }

    &-container--column{
        flex-direction: column;
    }

    &__nav__menu{

        user-select: none;

        display: flex;

        &__item{

            list-style: none;

            cursor: pointer;
            
            transition: all 1s ease;

            background-color: transparent;
            
            &__link{

                color: #969696;

                font-size: 14px;
                font-family: 'PT Sans';

                height: 100%;
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                text-transform: uppercase;

            }
        }

        &__item--active{

            transition: all 1s ease;

            background-color: #1F1F1F;
            
            .header__nav__menu__item__link{

                color: #ffffff;
                
            }
        }

        &__item--btns{

            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 0;
            margin-left: 50px;

            width: 80px;

            &-btn{
                width: 22px;
                height: 22px;

                cursor: pointer;
            }
        }
    }

    &__offer{

        width: 100%;
        height: 80%;

        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'PT Sans';

        &__description{

            font-size: 16px;

            color: #ffffff;

            text-transform: uppercase;
            text-align: center;

            margin-top: 50px;

            width: 730px;

            line-height: 150%;
        }
    }
}

.header-dekstop{

    &__info{

        height: 45px;

        background-color: black;

        display: flex;
        justify-content: center;
        align-items: center;

        &__item{

            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;

            &__icon-phone{

                height: 18px;
                width: 18px;

                margin-right: 20px;
                
                background: url('./images/icon-phone.svg') no-repeat center center/cover;

                cursor: pointer;
            }

            &__text, &__link{

                font-family: 'PT Sans';
                font-size: 12px;

                color: #969696;
            }

            &__text--list{

                display: flex;

                &__item{
                    
                    position: relative;

                    list-style: none;

                    margin-right: 40px;
                }

                &__item::before{
                    content: '|';

                    position: absolute;
                    top: 0;
                    left: -20px;
                }

                &__item:last-child{
                    margin-right: 0;
                }

                &__item:first-child::before{
                    content: '';
                }
            }

            &__icon-exit{

                height: 18px;
                width: 18px;

                margin-right: 20px;
                
                background: url('./images/icon-login.svg') no-repeat center center/cover;

                cursor: pointer;
            }

            &__icon-btns{

                cursor: pointer;

                display: flex;

                user-select: none;
            }
        }
    }

    &__nav{

        width: 100%;

        background-color: #0F0F0F;

        &__logo{

            font-size: 36px;

            cursor: pointer;
        }

        &__menu{

            height: 80px;

            &__item{

                width: 140px;
                height: 100%;
            }
        }
    }
}

.header-mobile{
    position: relative;
    z-index: 2;

    &-container{

        position: relative;

        width: 100%;
        height: 100%;

    }

    &__logo{

        height: 290px;
        width: 290px;
    }

    &__offer__description{
        
        width: 290px;
        
        line-height: 25px;
    }

    &__nav{

        width: 100%;
        

        &__menu{

            width: 100%;
    
            flex-direction: column;
            justify-content: space-between;
    
            &__item{
    
                width: 100%;
                height: 80px;
    
                a{
    
                    font-size: 24px;
                }
            }
    
            &__item--btns{
    
                width: 50%;
    
                margin: 30px auto 30px auto;
    
                justify-content: space-around;
    
                border-top: 1px solid #ffffff;
                border-bottom: 1px solid #ffffff;
    
                padding: 10px 0;
    
                #header-nav-btn-buy, #header-nav-btn-search{
                    width: 48px;
                    height: 48px;
                }
            }
        }

    }

    &__info{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        width: 100%;

        &__item{
            
            width: 100%;
            height: 50px;

            background: rgba(80, 80, 80, 0.2);

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 20px;
            font-family: 'PT Sans';

            color: #969696;
        }
    }

    &__burger-menu{

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        background-color: #0F0F0F;
        
        width: 100%;
        height: 100%;

        padding-top: 40%;

        opacity: 0;

        display: none;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    &__burger-menu--active{

        display: flex;

        animation: burger-menu-active 1s forwards;
    }

    &__burger-menu--close{

        display: flex;

        animation: burger-menu-close 2s forwards;
    }
   
    &__burger-btn{
        
        position: absolute;
        top: 5%;
        left: 45%;
        z-index: 5;

        height: 55px;
        width: 55px;

    }

    &__burger-btn::after, &__burger-btn::before{

        content: '';

        position: absolute;
        top: -28%;
        left: 35%;
        
        height: 50px;
        width: 2px;

        background-color: #ffffff;
    }

    &__burger-btn::after{

        transform: rotate(45deg) translateX(25px);
    }

    &__burger-btn::before{

        transform: rotate(-45deg) translateX(-25px);
    }

    &__burger-btn--active::after{
        
        animation: btn-burger-after-active 2s forwards;
    
    }

    &__burger-btn--active::before{
        
        animation: btn-burger-before-active 2s forwards;
    }

    &__burger-btn--close::after{
        
        animation: btn-burger-after-close 2s forwards;
    }

    &__burger-btn--close::before{
        
        animation: btn-burger-before-close 2s forwards;
    }
    
    &__item-appered{
        animation: burger-item-appered 1s forwards;
    }

    &__item-hidden{
        animation: burger-item-hidden 1s forwards;
    }
}

@keyframes btn-burger-before-active {
    
    0%{
        transform: rotate(-45deg) translateX(-25px);
    }

    50%{
        transform: rotate(-90deg) translateX(-25px) translateY(-10px);
    }

    100%{
        transform: rotate(-135deg) translateX(-10px) translateY(-10px);
    }
}

@keyframes btn-burger-after-active {
    
    0%{
        transform: rotate(45deg) translateX(25px);
    }

    50%{
        transform: rotate(90deg) translateX(25px) translateY(-10px);
    }

    100%{
        transform: rotate(135deg) translateX(10px) translateY(-10px);
    }
}

@keyframes btn-burger-before-close {

    0%{
        transform: rotate(-135deg) translateX(-10px) translateY(-10px);
    }
    
    50%{
        transform: rotate(-90deg) translateX(-25px) translateY(-10px);
    }

    100%{
        transform: rotate(-45deg) translateX(-25px);
    }
}

@keyframes btn-burger-after-close {
    
    0%{
        transform: rotate(135deg) translateX(10px) translateY(-10px);
    }

    50%{
        transform: rotate(90deg) translateX(25px) translateY(-10px);
    }

    100%{
        transform: rotate(45deg) translateX(25px);
    }
}

@keyframes burger-menu-active {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes burger-menu-close {
    0%{
        opacity: 1;
    }

    90%{
        opacity: 0;
    }

    100%{
        opacity: 0;
        display: none;
    }
}

@keyframes burger-item-appered {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes burger-item-hidden {
    0%{
        opacity: 1;
        transform: translateY(0);
    }

    100%{
        opacity: 0;
        transform: translateY(10px);
    }
}

@media screen and (max-width: 900px) and (max-height: 500px) {

    .header-mobile__burger-btn {
        left: 90%;
    }

    .header-mobile__burger-menu {
        padding-top: 3%;
    }

    .header-mobile__nav__menu__item {
        height: 60px;
    }

    .header__logo__title {
        margin-bottom: 10px;
    }

    .header-mobile__nav__menu__item--btns {
        width: 30%;
        margin: 10px auto 10px auto;
        padding: 5px 0;
    }

    .header-mobile__logo{

        height: 250px;
        width: 250px;
    }

    .header-mobile__offer__description{
        
        width: 100%;
        
    }
}