.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;

    transform: translate(-50%, -50%);

    width: 400px;
    height: 200px;

    background: rgb(255, 255, 255);

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    padding: 0 10px;

    &-title{

        width: 100%;

        font-size: 18px;
        font-weight: 500;

        text-align: center;
    }

    &-description{

        width: 100%;

        font-size: 14px;
        text-align: center;
    }

    &-btns{

        width: 100%;

        text-transform: uppercase;

        display: flex;
        justify-content: center;
        align-items: center;

        &__btn{

            width: 60px;
            height: 20px;

            border: 1px solid gray;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: aliceblue;

            transition: all .7s ease;

            user-select: none;

            cursor: pointer;

        }

        &__btn:hover{

            background-color: rgb(221, 224, 225);

            transition: all .7s ease;
        }

    }

    &-btns--childrean-justify{

        justify-content: space-between;

    }

    &__btn-exit{
        position: absolute;
        top: 5%;
        right: 3%;

        width:  25px;
        height: 25px;

        border: 1px solid black;
        border-radius: 50%;

        transition: background-color .5s ease;
        
        cursor: pointer;
    }

    &__btn-exit:hover{
        background-color: rgba($color: #ff0000, $alpha: .4);

        transition: background-color .5s ease;
    }

    &__btn-exit::before, &__btn-exit::after{
        position: absolute;
        top: 14%;
        right: 45%;

        content: '';

        width: 2px;
        height: 80%;

        background-color: black;
    }

    &__btn-exit::after{
        transform: rotate(45deg);
    }

    &__btn-exit::before{
        transform: rotate(-45deg);
    }

}

.modal--active{
    animation: modalActive 1s forwards;

}

.modal--close{

    animation: modalClose 1s forwards;
}

@keyframes modalActive {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes modalClose {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}