@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic);
@import url('https://fonts.cdnfonts.com/css/post-no-bills-jaffna?styles=18992,18991,18994,18995,18996,18993');

.container{
    margin: 0 auto;
    height: 100%;
}

@media screen and (max-width: 1920px) {
    .container{
        width: 1110px;
    }
}

@media screen and (max-width: 1280px) {
    .container{
        width: 95%;
    }
}
